.RestaurantsManager-Table {
  font-weight: bold;
  text-align: center;
}

.RestaurantsManager-Table {
  padding: 10px;
  font-size: 12px;
}

.RestaurantsManager-Table .p-sortable-column {
  padding: 4px !important;
  font-size: 14px;
  text-align: center;
}

.RestaurantsManager-Table .p-datatable-row {
  padding: 4px !important;
  font-size: 12px;
  text-align: center;
}

.TempTable,
.TempTable-th,
.TempTable-td {
  border: 1px solid black;
}
