.EditProfile-InnerCardContent {
  z-index: 100;
}

.EditProfile-FullWidth {
  width: 100%;
}

.EditProfile-FullWidthDropdown {
  width: 100%;
}

.p-float-label {
  font-size: 15px;
}

.EditProfile-RequiredField {
  font-weight: bold;
  color: red;
}

.EditProfile-RequiredFieldInfo {
  color: gray;
  font-size: 16px;
}
