.GoldenSpoon-Svg {
  height: 550px;
  width: 100px;
}

.GoldenSpoon-Info {
  padding-top: 30px;

  font-weight: bold;

  p {
    font-size: 20px;
    color: #333;
    margin-bottom: 0px;
  }
}
