.NavbarContainer {
  font-size: 20px;
  color: white;
  background: #007ad9;
  padding: 10px;
}

.Navbar-Sidebar {
  background: #007ad9 !important;
}

.Navbar-Sidebar--Userdata--Username {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.Navbar-Sidebar--Item--Icon {
  font-size: 1.1rem;

  color: white !important;
}

.Navbar-Sidebar--Item--Label {
  font-size: 1rem;
  color: white !important;

  font-family: "Roboto";
}

.UserProfile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0px 0px 0px 5px;
  color: white;
}

.DrowdownTemplate {
  padding: 0.3rem;
}

.Flag {
  display: flex;
  height: 20px;
  width: 30px;
  align-self: center;
}

.logout {
  cursor: pointer;
  margin-left: 10px;
}
